# BEGIN WP Hide & Security Enhancer
<IfModule mod_rewrite.c> 
RewriteEngine On 
RewriteBase /wp-dev/ 
#WriteCheckString:1706771363_44181
RewriteRule ^rewrite_test_1706771363_44181/? /wp-dev/wp-content/plugins/wp-hide-security-enhancer/include/rewrite-confirm.php [L,QSA]
RewriteRule ^rewrite_test_static_file_1706771363_44181/? /wp-dev/wp-content/plugins/wp-hide-security-enhancer/composer.json [L,QSA]

RewriteRule ^gestion.php(.*) /wp-dev/wp-login.php$1 [L,QSA]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-login.php /index.php?wph-throw-404 [L]

RewriteCond %{REQUEST_URI} /wp-dev/gestion$
RewriteRule ^(.*)$ /wp-dev/gestion/ [R=301,L]
RewriteRule ^gestion/(.*) /wp-dev/wp-admin/$1 [L,QSA]
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^wp-admin(.+) /wp-dev/index.php?wph-throw-404 [L]

</IfModule> 

# END WP Hide & Security Enhancer

# BEGIN WordPress
# Les directives (lignes) entre « BEGIN WordPress » et « END WordPress » sont générées
# dynamiquement, et doivent être modifiées uniquement via les filtres WordPress.
# Toute modification des directives situées entre ces marqueurs sera surchargée.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wp-dev/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wp-dev/index.php [L]
</IfModule>

# END WordPress

# Wordfence WAF
<IfModule mod_php5.c>
	php_value auto_prepend_file 'C:\wamp64\www\wp-dev/wordfence-waf.php'
</IfModule>
<IfModule mod_php7.c>
	php_value auto_prepend_file 'C:\wamp64\www\wp-dev/wordfence-waf.php'
</IfModule>
<IfModule mod_php.c>
	php_value auto_prepend_file 'C:\wamp64\www\wp-dev/wordfence-waf.php'
</IfModule>
<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order deny,allow
	Deny from all
</IfModule>
</Files>

# END Wordfence WAF
